@charset "UTF-8";

aside, footer, header, nav, section {
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p, article, aside, header, footer, nav, section, img {
	padding: 0;
	margin: 0;
}

button {
	padding: 5px;
}

a {
	color: #a571ed;
}

body {
	min-width: 500px;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: #4c1284;
	color: #eeeeee;
	font-family: Calibri, sans-serif;
	font-size: 15px;
}

.button-area {
	
}

.banner {
	/*background-color: #7641b7;*/
	/*color: white;*/
}

nav li {
	display: inline;
}

nav {
	text-align: center;
}

.content {
	background-color: #171717;
}

.main {
	/*display: table;*/
	/*background-color: #222222;*/
	/*margin: 10px;*/
}

article {
	display: inline-block;
	background-color: #404040;
}

article h1 {
	background-color: #2a2a2a;
	padding: 5px;
	text-align: left;
}

.intro {
	display: block;
	margin: 10px;
}

.table {
	display: table;
}

.row {
	display: table-row;
	margin: 10px;
}

.panel {
	display: block;
	margin: 10px;
}

.sub-panel {
	padding: 10px;
}

.cell {
	display: table-cell;
	width: 50%;
}

footer {
	margin-top: 10px;
	color: white;
	text-align: center;
}

.footer-bar {
	background-color: #7641b7;
	display: block;
	padding: 5px;
}