@charset "UTF-8";

article, aside, footer, header, main, nav, section {
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p, article, aside, header, footer, main, nav, section {
	padding: 0;
	margin: 0;
}

.banner {
	background-color: #4c0e8a;
	color: white;
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
}

body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #222222;
	color: #eeeeee;
	font-family: Calibri, sans-serif;
	font-size: 15px;
}

li {
	display: inline;
}

a {
	color: #a65fed;
}

 nav {
	text-align: center;
}

article {
	margin-top: 10px;
}

footer {
	margin-top: 10px;
	color: white;
	text-align: center;
	/* float: center; */
}

footer article {
	background-color: #4c0e8a;
	margin: 0;
	padding: 0;
	/* float: center; */
}

.playable {
	margin-left: 10%;
	margin-right: 10%;
	/* float: left; */
}

.idea {
	/* float: right; */
}